@{
    if (User.Identity.IsAuthenticated)
    {
        @*<a href="@Url.Action(MVC.Document.ActionNames.NewOrder, MVC.Document.Name)" class="list-group-item">New order</a>
            <a href="@Url.Action(MVC.Document.ActionNames.Create, MVC.Document.Name)" class="list-group-item">Create</a>*@

        <a ui-sref="documents" class="list-group-item">documents</a>
        <a ui-sref="newOrder" class="list-group-item">new order</a>
        <a ui-sref="ordersDraft" class="list-group-item">orders draft</a>
        <a ui-sref="ordersHistory" class="list-group-item">orders history</a>
    }
}
