@{
    if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action(MVC.Document.ActionNames.NewOrder, MVC.Document.Name)" class="list-group-item">New order</a>
        <a href="@Url.Action(MVC.Document.ActionNames.Create, MVC.Document.Name)" class="list-group-item">Create</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    }
}