<div ng-controller="UserProfileController" ng-init="init('@Url.Action(@MVC.Account.ActionNames.UserProfilePost, @MVC.Account.Name)')">
    <form name="userProfileForm">
        <div class="col-lg-5">
            <tabset>
                <tab ng-repeat="tab in model.tabs" heading="{{tab.Profile.Name}}" active="tab.active">
                    @* profile tab *@
                    <div class="col-lg-9" ng-show="tab.isProfile">
                        <label>First name</label>
                        <input type="text" name="firstName" ng-model="tab.FirstName" class="form-control">
                        <label>Last name</label>
                        <input type="text" name="lastName" ng-model="tab.LastName" class="form-control">
                        <label>Email</label>
                        <input type="email" name="email" ng-model="tab.Email" class="form-control">
                        <label>Phone</label>
                        <input type="text" name="phone" ng-model="tab.Phone" class="form-control">
                    </div>
                    <div ng-show="!tab.isProfile">
                        <label>Subjects</label>
                        <ui-select ng-model="tab.selectedSubject" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                            <ui-select-match placeholder="Select subject in the list...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="subject in tab.Subjects | filter: $select.search">
                                <span ng-bind-html="subject.Name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </tab>
            </tabset>
        </div>
        <button type="button" class="btn btn-primary" ng-disabled="userProfileForm.$invalid" ng-click="save()">Save</button>
    </form>
</div>