<div ng-controller="UserProfileController" ng-init="init('@Url.Action(@MVC.Account.ActionNames.CodaUserProfileInfo, @MVC.Account.Name)')">
    <dir-show-error></dir-show-error>
    <form novalidate name="form" ng-submit="save()">
        <div class="col-lg-5">
            <tabset>
                <tab heading="{{model.tabProfile.Name}}" active="tab.tabProfile.active">
                    <div class="col-lg-9" ng-form="profileForm">
                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" name="firstName" ng-model="model.tabProfile.FirstName" class="form-control" required>
                            <span ng-show="profileForm.firstName.$error.required"> Required! </span>
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" name="lastName" ng-model="model.tabProfile.LastName" class="form-control" required>
                            <span ng-show="profileForm.lastName.$error.required"> Required! </span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" ng-model="model.tabProfile.Email" class="form-control" required>
                            <span ng-show="profileForm.email.$error.required"> Required! </span>
                            <span ng-show="profileForm.email.$error.email"> Not valid email! </span>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="phone" ng-model="model.tabProfile.Phone" class="form-control" ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/">
                            <span ng-show="profileForm.phone.$error.pattern"> Not valid phone number! </span>
                        </div>
                        <div class="form-group">
                            <label>Node</label>
                            <ui-select ng-model="model.tabProfile.DefaultNode" name="node" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                                <ui-select-match placeholder="Select node in the list...">{{$select.selected    }}</ui-select-match>
                                <ui-select-choices repeat="node in model.tabProfile.Nodes | filter: $select.search">
                                    <span ng-bind-html="node | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-show="profileForm.node.$error.required"> Required! </span>
                        </div>
                    </div>
                </tab>
                <tab ng-repeat="tab in model.tabs" heading="{{tab.Profile.Name}}" active="tab.active">
                    <div ng-show="!tab.isProfile">
                        <label>Subjects</label>
                        <ui-select ng-model="tab.DefaultSubject" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                            <ui-select-match placeholder="Select subject in the list...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="subject in tab.Subjects | filter: $select.search">
                                <span ng-bind-html="subject.Name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </tab>
            </tabset>
        </div>
        <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()" ng-show="form.$dirty">Save</button>
    </form>
</div>