@model IEnumerable<WebApplication3.Entity.JournalSale_Documents>
@{
    ViewBag.Title = " Documents Index";
}

<h2>Documents Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div ng-controller="DocumentDateController">
    <div class="row">
        <div class="col-lg-2">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateStart" is-open="openedStart" min-date="2000-12-31" max-date="'2099-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDateStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-lg-2">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateEnd" is-open="openedEnd" min-date="minDate" max-date="'2099-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDateEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
</div>

<div class='container-fluid' ng-controller="SearchCodaObjectController">
    <div class="row">
        <div class="col-lg-4">
            <input class="form-control" type="text" ng-model="searchCodaObject" placeholder="Enter subject name" typeahead="searchText as searchText.FullName for searchText in getObjects($viewValue)" typeahead-loading="loadingLocations" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <pre>Selected: {{searchCodaObject.OID}}</pre>
        </div>
    </div>
</div>

<div ng-controller="DocumentTypeController">
    <div class="row">
        <div class="col-lg-4">
            <ui-select class="form-control" multiple ng-model="multipleDemo.selectedDocumentType" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Select document type...">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="docType.name as docType in documentType | filter: {name: $select.search}">
                    <div ng-bind-html="docType.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <pre>Selected: {{multipleDemo.selectedDocumentType}}</pre>
        </div>
    </div>
</div>

<div ng-controller="DocumentGridController">
    <div class="gridStyle" ng-grid="gridOptions">
    </div>
</div>

<div ng-controller="DocumentPaginationController">
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
</div>