@model IEnumerable<WebApplication3.Entity.JournalSale_Documents>
@{
    ViewBag.Title = " Documents Index";
}

<h2>Documents Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div ng-controller="DocumentGridController">
    <div class="gridStyle" ng-grid="gridOptions">
    </div>
</div>

<div ng-controller="DocumentPaginationController">
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>