@model IEnumerable<WebApplication3.Entity.JournalSale_Documents>
@{
    ViewBag.Title = " Documents Index";
}

<h2>Documents Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div ng-controller="DocumentDateController">
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
</div>

<div class='container-fluid' ng-controller="SearchCodaObjectController">
    <input type="text" ng-model="searchCodaObject" placeholder="Enter subject name" typeahead="searchText for searchText in getObjects($viewValue)" typeahead-loading="loadingLocations" class="form-control">
</div>

<div ng-controller="DocumentGridController">
    <div class="gridStyle" ng-grid="gridOptions">
    </div>
</div>

<div ng-controller="DocumentPaginationController">
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
</div>