<form name="formValidateDateRange" novalidate="">
    <div name="validateDates">
        <div class="alert alert-danger text-center" role="alert" ng-show="formValidateDateRange.$error.DateRangeError" style="height:34px;padding:5px;margin-bottom:initial">From date must be lower than To date.</div>
        <div class="alert alert-danger text-center" role="alert" ng-show="formValidateDateRange.$error.FromDateError" style="height:34px;padding:5px;margin-bottom:initial"> From date is empty.</div>
        <div class="alert alert-danger text-center" role="alert" ng-show="formValidateDateRange.$error.ToDateError" style="height:34px;padding:5px;margin-bottom:initial">To date is empty.</div>
    </div>
</form>
