<p class="input-group">
    <input type="text"
           class="form-control"
           datepicker-popup="{{dateFormat}}"
           ng-model="dateValue"
           is-open="openedPicker"
           min-date="minDate"
           max-date="maxDate"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           required=""
           close-text="Close" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>